doctype html
html(lang="en")
  include partials/head
  body
    #container
      include partials/nav
      .content
        .login-form
          a.float-button(href="/auth/twitter") Sign in with Twitter
          
