mixin Item(item, opts)
  if opts.single
    .item.palatino-linotype.single
      .text
        = item.text
      a.name(href="/u/" + item.creatorId)
        = `${item.creator.name} Wrote`
  else
    a.item.palatino-linotype(href=`/s/${item.id}`)
      .text
        = item.text
      .name
        = `${item.creator.name} Wrote`